django==3.2
djangorestframework
django-cors-headers
cloudinary
djangorestframework-simplejwt
mysqlclient
Pillow
python-decouple
djangorestframework-simplejwt
gunicorn
psycopg2
# whitenoise
# dj-database-url